/* ------------------------------------------------------------------------------
 *
 *  # jQuery UI Interactions
 *
 *  Separate styles for jQuery UI library. Component's interactions
 *
 *  Version: 1.0
 *  Latest update: Nov 12, 2015
 *
 * ---------------------------------------------------------------------------- */
.ui-draggable-handle,
.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}
.ui-sortable .ui-state-disabled {
    color: #999999;
    cursor: not-allowed;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.sortable-placeholder {
    position: relative;
}
.sortable-placeholder:before {
    content: '';
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px dashed rgba(0, 0, 0, 0.2);
}
.sidebar .sortable-placeholder:before {
    border-left: 0;
    border-right: 0;
    background-color: rgba(0, 0, 0, 0.05);
}
.sidebar-category.ui-sortable-helper {
    background-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.4);
}
.sidebar-default .sidebar-category.ui-sortable-helper {
    background-color: #fcfcfc;
}
.panel + .sortable-placeholder {
    margin-bottom: 20px;
}
.sortable-placeholder + .panel {
    margin-top: 20px;
}
.panel-group > .sortable-placeholder:before {
    border-radius: 3px;
}
.panel-group .panel + .sortable-placeholder {
    margin-top: 5px;
    margin-bottom: 5px;
}
.panel-group .sortable-placeholder + .panel {
    margin-top: 5px;
}
.table .ui-sortable-helper {
    width: 100%;
    background-color: #fff;
    display: table;
}
.table .sortable-placeholder {
    margin: 0;
}
.table .sortable-placeholder:before {
    content: none;
}
.table.ui-sortable {
    position: relative;
}
.ui-resizable {
    position: relative;
}
.ui-resizable,
.ui-resizable .ui-dialog-content {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-handle.ui-icon {
    display: inline-block;
    border-style: solid;
    border-width: 0 0 6px 6px;
    border-color: transparent transparent #333333 transparent;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-helper {
    border: 1px dashed #ccc;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
.ui-selectable {
    -ms-touch-action: none;
    touch-action: none;
}
.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dashed #333333;
}
/* ------------------------------------------------------------------------------
 *
 *  # jQuery UI Widgets
 *
 *  Styles for jQuery UI widgets
 *
 *  Version: 1.0
 *  Latest update: Nov 12, 2015
 *
 * ---------------------------------------------------------------------------- */
.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    margin: 0;
    outline: 0;
    position: relative;
    background-color: #fff;
    padding: 15px 20px;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-radius: 3px;
}
.ui-accordion .ui-accordion-header:first-child {
    margin-top: 0;
}
.ui-accordion .ui-accordion-header.ui-accordion-header-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -8px;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon:before {
    content: '\e9b8';
    font-family: 'Icomoon';
    display: block;
    width: 16px;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-accordion .ui-accordion-header-active .ui-accordion-header-icon:before {
    content: '\e9b7';
}
.ui-accordion .ui-accordion-icons {
    padding-left: 46px;
}
.ui-accordion .ui-accordion-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    overflow: auto;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.accordion-sortable-group + .accordion-sortable-group {
    margin-top: 5px;
}
.ui-autocomplete {
    position: absolute;
    display: none;
    padding: 5px 0;
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-autocomplete .ui-autocomplete-category {
    padding: 8px 12px;
    font-size: 11px;
    line-height: 1.82;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 2px;
}
.ui-autocomplete .ui-autocomplete-category ~ .ui-menu-item {
    padding-right: 24px;
}
.ui-autocomplete-processing:after {
    content: '\eb51';
    font-family: 'Icomoon';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    text-align: left;
    margin-top: -8px;
    font-size: 16px;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}
.input-group .ui-autocomplete-input + .input-group-btn > .btn,
.input-group .ui-autocomplete-input + .input-addon > .btn {
    border-right: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.ui-button {
    display: inline-block;
    position: relative;
    touch-action: manipulation;
    margin-bottom: 0;
    padding: 7px 12px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    color: #333;
}
.ui-button.ui-state-hover,
.ui-button.ui-state-focus {
    color: #333;
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.015) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.015) inset;
}
.ui-button.ui-state-active {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.03) inset;
}
.ui-button.ui-state-disabled {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-button[class*=bg-].ui-state-hover,
.ui-button[class*=bg-].ui-state-focus {
    color: #fff;
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}
.ui-button[class*=bg-].ui-state-active {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.ui-button.ui-button-link {
    background-color: transparent;
    border-color: transparent;
}
.ui-button.ui-button-link.ui-state-hover,
.ui-button.ui-button-link.ui-state-focus {
    color: #166dba;
}
.ui-button.ui-button-link.ui-state-hover,
.ui-button.ui-button-link.ui-state-focus,
.ui-button.ui-button-link.ui-state-active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icon-primary .ui-button-icons-only {
    margin-left: 7px;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
    margin-right: 7px;
}
.ui-button-icon-only {
    padding-left: 9px;
    padding-right: 9px;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
    display: none;
}
.ui-buttonset {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.ui-buttonset .ui-button {
    border-radius: 0;
    margin-right: -1px;
    float: right;
}
.ui-buttonset .ui-button:first-child,
.ui-buttonset .ui-helper-hidden-accessible:first-child + .ui-button {
    margin-right: 0;
}
.ui-buttonset .ui-button:first-child,
.ui-buttonset .ui-helper-hidden-accessible:first-child + .ui-button:not(:last-child) {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.ui-buttonset .ui-button:last-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.ui-buttonset-split {
    position: relative;
    display: inline-block;
}
.ui-buttonset-split > ul {
    position: absolute;
    text-align: right;
    min-width: 180px;
}
.ui-datepicker {
    min-width: 270px;
    background-color: #fff;
    padding: 5px;
    display: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 190!important;
}
.sidebar .ui-datepicker {
    min-width: 0;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 15px 0 20px 0;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 40px;
    font-size: 15px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    font-weight: 500;
    display: inline-block;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
    font-size: 12px;
    color: #999999;
    display: inline-block;
    margin-right: 5px;
}
.ui-datepicker .ui-datepicker-title select {
    outline: 0;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month,
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    width: 48%;
    font-size: 13px;
    font-weight: 400;
    color: #333333;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 10px;
    line-height: 1;
    color: #333333;
    padding: 8px;
    border-radius: 2px;
}
.ui-datepicker .ui-datepicker-prev:after,
.ui-datepicker .ui-datepicker-next:after {
    font-family: 'icomoon';
    display: inline-block;
    font-size: 16px;
    width: 16px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: none;
}
.ui-datepicker .ui-datepicker-prev {
    right: 0;
}
.ui-datepicker .ui-datepicker-prev:after {
    content: '\e9cb';
}
.ui-datepicker .ui-datepicker-next {
    left: 0;
}
.ui-datepicker .ui-datepicker-next:after {
    content: '\e9c8';
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    background-color: #f5f5f5;
}
.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}
.ui-datepicker table th {
    text-align: center;
    font-weight: 400;
    border: 0;
    padding-bottom: 10px;
    font-size: 12px;
    color: #999999;
}
.ui-datepicker table td {
    border: 0;
    padding: 1px;
    position: relative;
}
.ui-datepicker table td span,
.ui-datepicker table td a {
    display: block;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    color: #333333;
    min-width: 34px;
}
.ui-datepicker table td .ui-state-hover {
    background-color: #f5f5f5;
}
.ui-datepicker table td.ui-state-disabled span {
    color: #ccc;
}
.ui-datepicker table td.ui-datepicker-week-col {
    padding: 6px;
    color: #999999;
}
.ui-datepicker table td.ui-datepicker-current-day .ui-state-active {
    background-color: #26A69A;
    color: #fff;
}
.ui-datepicker table td.ui-datepicker-today .ui-state-highlight {
    background-color: #2196F3;
    color: #fff;
}
.ui-datepicker table td.ui-datepicker-today .ui-state-highlight:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
}
.ui-datepicker table td a.ui-priority-secondary {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: left;
    border: 1px solid #ddd;
    background-color: #fcfcfc;
    font-weight: 400;
    margin-top: 5px;
    cursor: pointer;
    padding: 7px 12px;
    width: auto;
    overflow: visible;
    outline: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-state-hover {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}
.ui-datepicker .ui-datepicker-buttonpane button:active {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto!important;
}
.datepicker-inline {
    width: 264px;
    max-width: 100%;
    overflow-x: auto;
}
.full-width.datepicker-inline,
.sidebar .datepicker-inline,
.popover .datepicker-inline {
    width: 100%;
}
.ui-datepicker-trigger {
    position: absolute;
    top: 4px;
    right: 5px;
    z-index: 3;
    padding: 6px;
    cursor: pointer;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 8px;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 46%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-dialog {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    outline: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .ui-dialog {
        width: 90%!important;
    }
}
.ui-dialog-titlebar {
    position: relative;
    padding: 20px;
    padding-bottom: 0;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-dialog-title {
    float: right;
    font-size: 15px;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-dialog-titlebar-close {
    position: absolute;
    background-color: transparent;
    border: 0;
    left: 20px;
    top: 50%;
    padding: 0;
    margin-top: 2px;
}
.ui-dialog-titlebar-close:after {
    content: '\ed6b';
    font-family: 'Icomoon';
    display: block;
    width: 16px;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-dialog-content {
    position: relative;
    border: 0;
    padding: 20px;
    background: none;
    overflow: auto;
}
.ui-dialog-content .form-group:last-child,
.ui-dialog-content p:last-child {
    margin-bottom: 0;
}
.ui-dialog-buttonpane {
    padding: 20px;
    padding-top: 0;
}
.ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;
}
.ui-dialog-buttonpane button + button {
    margin-right: 5px;
    cursor: pointer;
}
.ui-menu {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    display: block;
    outline: none;
    min-width: 180px;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 1000;
}
.ui-menu .ui-menu {
    position: absolute;
    top: -6px !important;
}
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    cursor: pointer;
    padding: 8px 15px;
    min-height: 0;
    outline: 0;
}
.ui-menu .ui-menu-item > a {
    display: block;
    color: #333333;
}
.ui-menu .ui-menu-item > .ui-menu-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 15px;
}
.ui-menu .ui-menu-item > .ui-menu-icon:after {
    content: '\e9c7';
    font-family: 'icomoon';
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.ui-menu .ui-menu-item.ui-state-disabled,
.ui-menu .ui-menu-item.ui-state-disabled a {
    color: #999999;
    cursor: not-allowed;
}
.ui-menu .ui-menu-header {
    padding: 8px 15px;
    font-size: 11px;
    line-height: 1.82;
    text-transform: uppercase;
    color: #999999;
    margin-top: 10px;
}
.ui-menu .ui-menu-header:first-child {
    margin-top: 5px;
}
.ui-menu .ui-menu-header.highlight {
    margin-top: 0;
    background-color: #f8f8f8;
    color: #999999;
}
.ui-menu .ui-menu-header.highlight:first-child {
    margin-top: 0;
}
.ui-menu .ui-menu-item + .highlight,
.ui-menu .highlight + .ui-menu-item {
    margin-top: 5px;
}
.ui-menu i[class*=icon-] {
    margin-left: 10px;
}
.ui-menu i[class*=icon-].pull-right {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 3px;
}
.ui-menu .badge,
.ui-menu .label {
    margin-top: 1px;
}
.ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-top: 1px solid #e5e5e5;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
    color: #333333;
    background-color: #f5f5f5;
}
.ui-menu.ui-state-disabled,
.ui-menu.ui-state-disabled .ui-menu-item,
.ui-menu.ui-state-disabled a {
    color: #999999;
    cursor: not-allowed;
}
.ui-progressbar {
    height: 18px;
    overflow: hidden;
    position: relative;
    background-color: #eeeeee;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.ui-progressbar-value {
    float: right;
    width: 0%;
    height: 100%;
    background-color: #2196F3;
    color: #fff;
    overflow: hidden;
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.ui-progressbar-value,
.ui-progressbar-overlay {
    height: 100%;
    background-size: 40px 40px;
}
.ui-progressbar-striped .ui-progressbar-value,
.ui-progressbar-striped .ui-progressbar-overlay {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.ui-progressbar-overlay {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.ui-progressbar-active .ui-progressbar-value,
.ui-progressbar-overlay {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
    background-image: none;
}
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.ui-selectmenu-menu .ui-menu {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
    font-size: 11px;
    font-weight: 700;
    line-height: 1.82;
    padding: 7px 12px;
    margin: 2px 0;
    text-transform: uppercase;
    height: auto;
    border: 0;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup ~ .ui-menu-item {
    padding-right: 24px;
}
.ui-selectmenu-open {
    display: block;
}
.ui-selectmenu-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    height: 36px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
}
.ui-selectmenu-button.ui-state-hover,
.ui-selectmenu-button.ui-state-focus {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
}
.ui-selectmenu-button:after {
    content: '\e9c5';
    font-family: 'Icomoon';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    text-align: left;
    margin-top: -8px;
    font-size: 16px;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-selectmenu-button .ui-selectmenu-text {
    padding: 7px 12px;
    padding-left: 28px;
    display: block;
    white-space: nowrap;
}
.ui-selectmenu-disabled {
    cursor: not-allowed;
    background-color: #fafafa;
    color: #999999;
}
.ui-selectmenu-disabled.ui-state-hover,
.ui-selectmenu-disabled.ui-state-focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-selectmenu-lg .ui-selectmenu-button {
    height: 40px;
}
.ui-selectmenu-lg .ui-selectmenu-button .ui-selectmenu-text {
    padding: 9px 15px;
    padding-left: 34px;
}
.ui-selectmenu-sm .ui-selectmenu-button {
    height: 34px;
}
.ui-selectmenu-sm .ui-selectmenu-button .ui-selectmenu-text {
    padding: 6px 12px;
    padding-left: 26px;
}
.ui-selectmenu-xs .ui-selectmenu-button {
    height: 32px;
}
.ui-selectmenu-xs .ui-selectmenu-button .ui-selectmenu-text {
    padding: 5px 10px;
    padding-left: 24px;
    font-size: 12px;
    line-height: 1.6666667;
}
.ui-selectmenu-images .ui-menu-item > span {
    display: inline-block;
    margin-left: 10px;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.ui-selectmenu-images .demo-img-amazon {
    background: url('../images/placeholder.jpg') no-repeat;
}
.ui-selectmenu-images .demo-img-youtube {
    background: url('../images/placeholder.jpg') no-repeat;
}
.ui-selectmenu-images .demo-img-twitter {
    background: url('../images/placeholder.jpg') no-repeat;
}
.ui-selectmenu-images .demo-img-bing {
    background: url('../images/placeholder.jpg') no-repeat;
}
.ui-selectmenu-images .demo-img-spotify {
    background: url('../images/placeholder.jpg') no-repeat;
}
.ui-slider {
    position: relative;
    text-align: right;
    background-color: #eeeeee;
    border-radius: 100px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fcfcfc;
    border: 1px solid #bbb;
    outline: 0;
}
.ui-slider .ui-slider-handle.ui-state-hover,
.ui-slider .ui-slider-handle.ui-state-focus {
    background-color: #f8f8f8;
}
.ui-slider .ui-slider-handle.ui-state-hover:after,
.ui-slider .ui-slider-handle.ui-state-focus:after {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.ui-slider .ui-slider-handle.ui-state-active {
    background-color: #fefefe;
}
.ui-slider .ui-slider-handle.ui-state-active:after {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.ui-slider .ui-slider-handle:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    background-color: #546E7A;
    border-radius: 50%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-color: #607D8B;
    border-radius: 100px;
}
.ui-slider.ui-slider-disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.ui-slider-horizontal {
    height: 6px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: -9px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    right: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    left: 0;
}
.ui-slider-vertical {
    width: 6px;
    height: 150px;
    display: inline-block;
    margin: 0 10px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -6px;
    margin-bottom: -9px;
}
.ui-slider-vertical .ui-slider-range {
    right: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
.ui-slider-solid .ui-slider-handle {
    background-color: #999999;
    border-color: #999999;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-slider-solid .ui-slider-handle:after {
    background-color: #fff;
    -webkit-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
}
.ui-slider-solid .ui-slider-handle.ui-state-hover:after,
.ui-slider-solid .ui-slider-handle.ui-state-active:after {
    background-color: #fff;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.ui-handle-white .ui-slider-handle:after {
    content: none;
}
.ui-slider-lg .ui-slider-handle {
    width: 24px;
    height: 24px;
}
.ui-slider-lg .ui-slider-handle:after {
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
}
.ui-slider-lg.ui-slider-horizontal {
    height: 8px;
}
.ui-slider-lg.ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    margin-left: -12px;
}
.ui-slider-lg.ui-slider-vertical {
    width: 8px;
}
.ui-slider-lg.ui-slider-vertical .ui-slider-handle {
    left: -8px;
    margin-bottom: -12px;
}
.ui-slider-sm .ui-slider-handle,
.ui-slider-xs .ui-slider-handle {
    width: 12px;
    height: 12px;
}
.ui-slider-sm .ui-slider-handle:after,
.ui-slider-xs .ui-slider-handle:after {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
}
.ui-slider-sm.ui-slider-horizontal {
    height: 4px;
}
.ui-slider-sm.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
    margin-left: -6px;
}
.ui-slider-sm.ui-slider-vertical {
    width: 4px;
}
.ui-slider-sm.ui-slider-vertical .ui-slider-handle {
    left: -4px;
    margin-bottom: -6px;
}
.ui-slider-xs.ui-slider-horizontal {
    height: 2px;
}
.ui-slider-xs.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}
.ui-slider-xs.ui-slider-vertical {
    width: 2px;
}
.ui-slider-xs.ui-slider-vertical .ui-slider-handle {
    left: -5px;
    margin-bottom: -6px;
}
.ui-slider-primary .ui-slider-range,
.ui-slider-solid.ui-slider-primary .ui-slider-handle {
    background-color: #2196F3;
    border-color: #2196F3;
}
.ui-slider-danger .ui-slider-range,
.ui-slider-solid.ui-slider-danger .ui-slider-handle {
    background-color: #F44336;
    border-color: #F44336;
}
.ui-slider-success .ui-slider-range,
.ui-slider-solid.ui-slider-success .ui-slider-handle {
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.ui-slider-warning .ui-slider-range,
.ui-slider-solid.ui-slider-warning .ui-slider-handle {
    background-color: #FF5722;
    border-color: #FF5722;
}
.ui-slider-info .ui-slider-range,
.ui-slider-solid.ui-slider-info .ui-slider-handle {
    background-color: #00BCD4;
    border-color: #00BCD4;
}
.ui-spinner {
    position: relative;
    overflow: hidden;
    display: table;
}
.ui-spinner-input {
    padding-left: 30px;
    display: table-cell;
    width: 100%;
    border-radius: 0 3px 3px 0;
    border-left: 0;
}
.ui-spinner-button {
    font-size: 0;
    color: #333333;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    display: table-cell;
    width: 1%;
    padding: 0 7px;
}
.ui-spinner-button:after {
    font-family: 'Icomoon';
    display: inline-block;
    width: 16px;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-spinner-button + .ui-spinner-button {
    border-right: 0;
}
.ui-spinner-button .ui-button-text {
    display: none;
}
.ui-spinner-button.ui-state-hover,
.ui-spinner-button.ui-state-focus {
    color: #333333;
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
}
.ui-spinner-button.ui-state-disabled {
    background-color: #fafafa;
    color: #999999;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-spinner-up:after {
    content: '\e9f7';
}
.ui-spinner-down {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.ui-spinner-down:after {
    content: '\e9e2';
}
.ui-tabs {
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    position: relative;
    padding: 0;
    white-space: nowrap;
    margin-bottom: -1px;
}
@media (min-width: 769px) {
    .ui-tabs .ui-tabs-nav li {
        float: right;
    }
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: block;
    color: #888;
    padding: 9px 15px;
    border: 1px solid transparent;
    border-top-width: 2px;
}
.ui-tabs .ui-tabs-nav .ui-state-hover .ui-tabs-anchor:not(.ui-state-disabled),
.ui-tabs .ui-tabs-nav .ui-state-focus .ui-tabs-anchor:not(.ui-state-disabled) {
    color: #333333;
}
.ui-tabs .ui-tabs-nav .ui-tabs-active .ui-tabs-anchor {
    color: #333333;
    background-color: #fff;
    cursor: default;
    border-color: #2196F3 #ddd transparent;
}
.ui-tabs .ui-tabs-nav .ui-state-disabled {
    color: #999999;
    cursor: not-allowed;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.ui-tabs .ui-tabs-nav .ui-sortable-helper:not(.ui-tabs-active) .ui-tabs-anchor {
    background-color: #fff;
    border-bottom-color: #ddd;
}
@media (max-width: 768px) {
    .ui-tabs .ui-tabs-nav {
        border-bottom: 0;
        position: relative;
        background-color: #fff;
        padding: 5px 0;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .ui-tabs .ui-tabs-nav li {
        margin-bottom: 0;
    }
    .ui-tabs .ui-tabs-nav li + li {
        margin-top: 1px;
    }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        border-width: 0 2px 0 0;
        border-right-color: transparent;
    }
    .ui-tabs .ui-tabs-nav .ui-state-hover .ui-tabs-anchor,
    .ui-tabs .ui-tabs-nav .ui-state-focus .ui-tabs-anchor {
        background-color: #fafafa;
    }
    .ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor {
        border-right-color: #2196F3;
        background-color: #f5f5f5;
    }
    .ui-tabs .ui-tabs-nav:before {
        content: 'Contents';
        color: inherit;
        font-size: 12px;
        line-height: 1.6666667;
        font-weight: 500;
        margin-top: 10px;
        margin-right: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}
.ui-tabs .ui-tabs-panel {
    display: block;
}
.ui-tooltip {
    position: absolute;
    z-index: 1070;
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 3px;
}
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ui-front {
    z-index: 1051 !important;
}

/* ------------------------------------------------------------------------------
*
*  # Fancytree
*
*  Tree plugin for jQuery with support for persistence, keyboard, checkboxes,
*  tables (grid), drag'n'drop, and lazy loading
*
*  Version: 1.0
*  Latest update: May 25, 2015
*
* ---------------------------------------------------------------------------- */
/* # Core
-------------------------------------------------- */
.fancytree-container {
    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    overflow: auto;
    position: relative;
}
.fancytree-container:focus {
    outline: 0;
}
.fancytree-container ul {
    list-style: none;
    padding: 0 20px 0 0;
    margin: 0;
}
.fancytree-container ul li {
    margin-top: 1px;
}
.ui-fancytree-disabled .fancytree-container {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.ui-fancytree-disabled .fancytree-container,
.ui-fancytree-disabled .fancytree-title,
.ui-fancytree-disabled .fancytree-expander {
    cursor: not-allowed;
}
.ui-fancytree-disabled .fancytree-treefocus .fancytree-selected .fancytree-title {
    background-color: #f5f5f5;
    color: #333333;
}
.ui-helper-hidden {
    display: none;
}
.fancytree-expander:after,
.fancytree-icon:after,
.fancytree-checkbox:after,
.fancytree-drag-helper-img:after,
.fancytree-drop-before:after,
.fancytree-drop-after:after,
.fancytree-loading .fancytree-expander:after,
.fancytree-statusnode-wait .fancytree-icon:after {
    font-family: 'icomoon';
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fancytree-icon,
.fancytree-checkbox,
.fancytree-custom-icon {
    margin-top: 5px;
    float: right;
}
.fancytree-checkbox {
    margin: 4px 2px 0 10px;
}
.fancytree-custom-icon {
    display: inline-block;
}
img.fancytree-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-top: 3px;
    vertical-align: top;
    border-style: none;
}
.fancytree-expander {
    cursor: pointer;
    float: right;
    margin-top: 5px;
    width: 16px;
    line-height: 1;
}
.fancytree-exp-c .fancytree-expander:after {
    content: '\e9c4';
}
.fancytree-exp-cl .fancytree-expander:after {
    content: '\e9c4';
}
.fancytree-exp-cd .fancytree-expander:after,
.fancytree-exp-cdl .fancytree-expander:after {
    content: '\e9c4';
}
.fancytree-exp-e .fancytree-expander:after,
.fancytree-exp-ed .fancytree-expander:after {
    content: '\e9c5';
}
.fancytree-exp-el .fancytree-expander:after,
.fancytree-exp-edl .fancytree-expander:after {
    content: '\e9c5';
}
.fancytree-statusnode-error .fancytree-icon:after {
    content: '\ed63';
}
.fancytree-loading .fancytree-expander,
.fancytree-statusnode-wait .fancytree-icon {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
}
.fancytree-loading .fancytree-expander:after,
.fancytree-statusnode-wait .fancytree-icon:after {
    content: '\ed6c';
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.fancytree-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.fancytree-ico-c .fancytree-icon:after,
.fancytree-ico-e .fancytree-icon:after {
    content: '\ea1a';
}
.fancytree-has-children.fancytree-ico-c .fancytree-icon:after {
    content: '\ea0f';
}
.fancytree-has-children.fancytree-ico-e .fancytree-icon:after {
    content: '\ea11';
}
.fancytree-ico-cf .fancytree-icon:after,
.fancytree-ico-ef .fancytree-icon:after {
    content: '\ea3d';
}
.fancytree-has-children.fancytree-ico-cf .fancytree-icon:after {
    content: '\ea41';
}
.fancytree-has-children.fancytree-ico-ef .fancytree-icon:after {
    content: '\ea43';
}
.fancytree-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #777;
    display: block;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.fancytree-checkbox:after,
.fancytree-partsel.fancytree-selected .fancytree-checkbox:after {
    content: "\e600";
    margin-top: -1px;
    margin-right: -1px;
    display: none;
}
.fancytree-partsel > .fancytree-checkbox:after {
    content: "";
    width: 8px;
    height: 8px;
    display: none;
    background-color: #888;
    margin: 3px;
}
.fancytree-partsel.fancytree-selected .fancytree-checkbox:after {
    background-color: transparent;
    width: auto;
    height: auto;
}
.fancytree-selected .fancytree-checkbox:after,
.fancytree-partsel .fancytree-checkbox:after,
.fancytree-partsel.fancytree-selected .fancytree-checkbox:after {
    display: block;
}
.fancytree-radio .fancytree-checkbox {
    border-radius: 100%;
}
.fancytree-radio .fancytree-checkbox:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #888;
    margin: 3px;
    border-radius: 100px;
}
/* # Other styles
-------------------------------------------------- */
.fancytree-drag-helper {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 4px 5px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.fancytree-drag-helper-img:after {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: -26px;
}
.fancytree-drop-accept .fancytree-drag-helper-img:after {
    content: '\ee73';
    color: #4CAF50;
}
.fancytree-drop-reject .fancytree-drag-helper-img:after {
    content: '\ed63';
    color: #F44336;
}
#fancytree-drop-marker.fancytree-drop-before,
#fancytree-drop-marker.fancytree-drop-after {
    width: 200px;
    border-top: 1px solid #333333;
    position: absolute!important;
}
.fancytree-drag-source {
    background-color: #ddd;
}
.fancytree-drag-source .fancytree.title {
    color: #333333;
}
.fancytree-drop-target.fancytree-drop-accept a {
    background-color: #2196F3 !important;
    color: #fff !important;
    text-decoration: none;
}
.fancytree-node {
    display: inherit;
    width: 100%;
    position: relative;
}
.fancytree-title {
    border: 0;
    padding: 4px 6px;
    border-radius: 2px;
    margin-right: 4px;
    display: inline-block;
    cursor: pointer;
}
.fancytree-title > input {
    border: 0;
    outline: 0;
    padding: 0;
    background-color: transparent;
}
.fancytree-selected .fancytree-title {
    background-color: #ddd;
    color: #333333;
}
.fancytree-treefocus .fancytree-selected .fancytree-title {
    background-color: #2196F3;
    color: #fff;
}
.fancytree-active .fancytree-title {
    background-color: #ddd;
}
.sidebar:not(.sidebar-default) .fancytree-selected .fancytree-title,
.sidebar:not(.sidebar-default) .fancytree-active .fancytree-title {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.sidebar:not(.sidebar-default) .fancytree-treefocus .fancytree-selected .fancytree-title {
    background-color: #2196F3;
    color: #fff;
}
.fancytree-ext-table .fancytree-node {
    display: inline-block;
    width: auto;
}
.fancytree-ext-table .fancytree-title {
    display: inline;
}
.fancytree-ext-table.fancytree-container {
    white-space: normal;
}
.fancytree-ext-table .fancytree-expander,
.fancytree-ext-table .fancytree-icon,
.fancytree-ext-table .fancytree-custom-icon {
    margin-top: 1px;
}
.fancytree-ext-table .fancytree-checkbox {
    margin: 0 auto;
    float: none;
}
.fancytree-ext-table .checker {
    display: block;
    margin: 0 auto;
}
.fancytree-ext-table tbody tr td:first-child {
    text-align: center;
}
.fancytree-ext-table tbody tr.fancytree-focused {
    background-color: #f5f5f5;
}
.fancytree-ext-table tbody tr.fancytree-active {
    background-color: #f5f5f5;
}
.fancytree-ext-table tbody tr.fancytree-selected {
    background-color: #2196F3;
    color: #fff;
}
.fancytree-ext-table tbody tr.fancytree-selected .fancytree-checkbox {
    color: #fff;
    border-color: #fff;
}
.fancytree-ext-table tbody tr.fancytree-selected .checker span {
    border-color: #fff;
    color: #fff;
}



